@import-normalize;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box + .box {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > * {
  margin-left: 20px;
}

li > *:nth-child(1) {
  margin-left: 0;
}